{% extends 'base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}

{% for country in countries %}
    <h2>
        <a href="{{ path("country_show", {country: country.id}) }}">{{ country.name }}</a>
    </h2>    
{% endfor %}

{% endblock %}
